# WEB-SCRAPING-ASSIGNMET-2

## BATCH-2312

### QUESTION NO.-1

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sam\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: trio~=0.17 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: idna in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\sam\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sam\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sam\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sam\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [25]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [26]:
driver = webdriver.Chrome()

In [27]:
driver.get("https://www.shine.com/")

In [32]:
designation=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Analyst')

In [33]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [38]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div")
search.click()

In [39]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [66]:
title_tags=driver.find_elements(By.XPATH,[itemprop="name"])
for i in title_tags:
    title=i.text
    job_title.append(title)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3308900931.py, line 1)

In [51]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [61]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [53]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [62]:
print(len(job_location),len(company_name),len(experience_required))

20 20 20

In [71]:
import pandas as pd
df=pd.DataFrame({'location':job_location,'company_name':company_name,'experience':experience_required})
df

                 location                company_name   experience
0                   Delhi                      unnati   3 to 5 Yrs
1       Other Maharashtra     aryantech india pvt ltd   0 to 3 Yrs
2            Gurugram\n+2          sharda it services   2 to 5 Yrs
3   Other Maharashtra\n+1                 clairvoyant   6 to 9 Yrs
4            Gurugram\n+2          sharda it services   1 to 6 Yrs
5               All India       titan company limited  5 to 10 Yrs
6         Other Karnataka   cygnus professionals inc.   3 to 7 Yrs
7         Other Karnataka                       cisco  7 to 11 Yrs
8   Other Maharashtra\n+1         emerson career site   3 to 7 Yrs
9         Other Karnataka                      airbus   2 to 6 Yrs
10              All India       robosoft technologies   3 to 7 Yrs
11        Other Karnataka                 miq digital   3 to 7 Yrs
12      Other Maharashtra          waytogo consulting  8 to 14 Yrs
13        Other Karnataka         htc global services   5 to 7 Yrs
14        Other Karnataka  futurlytic private limited   1 to 2 Yrs
15            Chennai\n+1             v group limited   2 to 6 Yrs
16          Hyderabad\n+1              realpage india   3 to 7 Yrs
17           Agartala\n+1                 convegenius    0 to 1 Yr
18              All India            trelleborg group   3 to 7 Yrs
19              All India            technofactorx ai   0 to 4 Yrs

### QUESTION NO.-2

In [72]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sam\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: exceptiongroup in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\sam\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sam\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sam\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sam\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [73]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [122]:
driver = webdriver.Chrome()

In [123]:
driver.get("https://www.shine.com/")

In [125]:
designation=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input")
designation.send_keys('Data Scientist')

In [126]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Bangalore')

In [127]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [120]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [128]:
title_tags=driver.find_elements(By.XPATH,"/html/body/div[1]/div[1]/div[4]/div/div[2]/div[1]/div/div/div[1]/div[1]/div[1]/h2/a")
for i in title_tags:
    title=i.text
    job_title.append(title)

In [138]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [139]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [140]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [141]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

1 20 20 20

In [143]:
import pandas as pd
df=pd.DataFrame({'location':job_location,'company_name':company_name,'experience':experience_required})
df

          location                            company_name    experience
0    Bangalore\n+3  gujarat facility services hiring fo...    5 to 8 Yrs
1   Bangalore\n+15                      renuka interprises    0 to 4 Yrs
2   Bangalore\n+15                      renuka interprises    0 to 4 Yrs
3   Bangalore\n+15                      renuka interprises    0 to 4 Yrs
4    Bangalore\n+4           acme services private limited    3 to 5 Yrs
5        Bangalore                     ltimindtree limited    6 to 8 Yrs
6    Bangalore\n+1                                 fractal    5 to 9 Yrs
7   Bangalore\n+14                yogita staffing solution    0 to 3 Yrs
8    Bangalore\n+1                                neostats   7 to 11 Yrs
9    Bangalore\n+1                                   aereo   7 to 10 Yrs
10   Bangalore\n+7               people staffing solutions    4 to 9 Yrs
11  Bangalore\n+14                yogita staffing solution    0 to 3 Yrs
12   Bangalore\n+2                       diraa hr services    0 to 4 Yrs
13   Bangalore\n+4                         quiscon biotech     0 to 1 Yr
14  Bangalore\n+13                yogita staffing solution    0 to 3 Yrs
15  Bangalore\n+14                yogita staffing solution    0 to 3 Yrs
16  Bangalore\n+13                       kavya interprises    0 to 4 Yrs
17  Bangalore\n+13                       kavya interprises    0 to 4 Yrs
18       Bangalore            varite india private limited    1 to 2 Yrs
19   Bangalore\n+5  ntt data information processing ser...  10 to 20 Yrs

### QUESTION N0.-3

In [188]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sam\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: trio~=0.17 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: outcome in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\sam\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sam\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sam\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sam\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [189]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [190]:
driver = webdriver.Chrome()

In [191]:
driver.get("https://www.shine.com/")

In [196]:
designation=driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys('Data Scientist')

In [197]:
location=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys('Delhi/NCR')

In [198]:
search=driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [199]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [200]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_features__wJid6"]')
for i in title_tags:
    title=i.text
    job_title.append(title)

In [202]:
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in location_tags:
    location=i.text
    job_location.append(location)

In [203]:
company_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
for i in company_tags:
    company=i.text
    company_name.append(company)

In [204]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
for i in experience_tags:
    exp=i.text
    experience_required.append(exp)

In [205]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

20 20 20 20

In [206]:
import pandas as pd
df=pd.DataFrame({'title':job_title,'location':job_location,'company_name':company_name,'experience':experience_required})
df

           title      location  company_name   experience
0     1 week ago  Gurugram\n+1  Gurugram\n+1   2 to 7 Yrs
1    3 weeks ago     Delhi\n+4     Delhi\n+4   3 to 5 Yrs
2    2 weeks ago     Noida\n+1     Noida\n+1   1 to 3 Yrs
3    2 weeks ago         Delhi         Delhi   5 to 8 Yrs
4    3 weeks ago         Delhi         Delhi   3 to 7 Yrs
5    2 weeks ago         Delhi         Delhi   3 to 4 Yrs
6    3 weeks ago         Delhi         Delhi   5 to 9 Yrs
7     1 week ago     Noida\n+1     Noida\n+1   4 to 8 Yrs
8    3 weeks ago         Delhi         Delhi   4 to 8 Yrs
9    1 month ago     Noida\n+1     Noida\n+1   1 to 5 Yrs
10   2 weeks ago     Noida\n+1     Noida\n+1   3 to 8 Yrs
11   4 weeks ago         Delhi         Delhi   0 to 3 Yrs
12   1 month ago     Noida\n+1     Noida\n+1   2 to 7 Yrs
13   3 weeks ago         Delhi         Delhi   3 to 5 Yrs
14   1 month ago         Delhi         Delhi   5 to 7 Yrs
15   1 month ago     Noida\n+1     Noida\n+1   2 to 6 Yrs
16   1 month ago         Delhi         Delhi  9 to 13 Yrs
17   1 month ago         Delhi         Delhi   2 to 4 Yrs
18   1 month ago     Noida\n+1     Noida\n+1   5 to 9 Yrs
19  2 months ago     Delhi\n+7     Delhi\n+7   4 to 9 Yrs

### QUESTION NO.-4

In [207]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sam\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: trio~=0.17 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sortedcontainers in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: exceptiongroup in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: outcome in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: wsproto>=0.14 in c:\users\sam\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sam\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sam\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sam\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [208]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By

In [209]:
driver = webdriver.Chrome()

In [232]:
driver.get("https://www.flipkart.com/")

In [234]:
product=driver.find_element(By.CLASS_NAME,"Pke_EE")
product.send_keys('sunglasses')

In [237]:
search=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[1]/div/div[1]/div/div/section/div[2]/div/a')
search.click()

In [252]:
sunglasses=[]
brand_name=[]
price_range=[]
product_description=[]

In [266]:
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags:
    brand=i.text
    brand_name.append(brand)

In [255]:
price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in price_tags:
    price=i.text
    price_range.append(price)

In [260]:
product_tags=driver.find_elements(By.XPATH,'//div[@class="_312yBx SFzpgZ"]')
for i in product_tags:
    product=i.text
    product_description.append(product)

In [267]:
print(len(brand_name),len(price_range),len(product_description))

80 80 80

In [268]:
import pandas as pd
df=pd.DataFrame({'brand':brand_name,'price_range':price_range,'product_description':product_description})
df

            brand price_range product_description
0         Eyenaks        ₹346
1           NuVew        ₹499
2         ROADWAY        ₹129
3            SRPM        ₹169
4         ROADWAY        ₹169
..            ...         ...                 ...
75         PIRASO        ₹299
76         AISLIN        ₹426
77      ROYAL SON        ₹711
78      Rich Club        ₹395
79  VINCENT CHASE        ₹556

[80 rows x 3 columns]

In [273]:
sunglasses=[]
import time

In [283]:
start=0
end=3
for page in range(start,end):
    sunglasses=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[1]/div/div[1]/div/div/section/div[2]/div/a')
    for i in sunglasses:
        sunglasses.append(i.text)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span')
    next_button.click()
    time.sleep(3)

AttributeError: 'str' object has no attribute 'text'

In [284]:
len(product)

0

### QUESTION NO.-5