In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\sam\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\sam\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: sortedcontainers in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: idna in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: cffi>=1.14 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: exceptiongroup in c:\users\sam\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\sam\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\sam\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\sam\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\sam\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.webdriver.common.by import By
import time
import requests

In [3]:
driver = webdriver.Chrome()

## Q1.

In [4]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [5]:
name_tags=[]
artist_tags=[]
upload_tags=[]
views_tags=[]

In [6]:
name_title=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody//tr/td[1]')

for i in name_title:
    name=i.text
    name_tags.append(name)

In [7]:
print(len(name_tags))

30

In [8]:
artist_title=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody//tr/td[2]')

for i in artist_title:
    artist=i.text
    artist_tags.append(artist)

In [9]:
print(len(artist_tags))

30

In [10]:
upload_title=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody//tr/td[3]')

for i in upload_title:
    upload=i.text
    upload_tags.append(upload)

In [11]:
print(len(upload_tags))

30

In [12]:
views_title=driver.find_elements(By.XPATH,'//table[@class="sortable wikitable sticky-header static-row-numbers sort-under col3center col4right jquery-tablesorter"]/tbody//tr/td[4]')

for i in views_title:
    views=i.text
    views_tags.append(views)

In [13]:
print(len(views_tags))

30

In [14]:
print(len(name_tags),len(artist_tags),len(upload_tags),len(views_tags))

30 30 30 30

In [15]:
df=pd.DataFrame({"Name":name_tags,"Artist":artist_tags,"Views":views_tags,"Upload Date":upload_tags})

In [16]:
df

,Name,Artist,Views,Upload Date
0,"""Baby Shark Dance""[6]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",14.09
1,"""Despacito""[9]",Luis Fonsi,"January 12, 2017",8.38
2,"""Johny Johny Yes Papa""[17]",LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.87
3,"""Bath Song""[18]",Cocomelon - Nursery Rhymes,"May 2, 2018",6.62
4,"""Shape of You""[19]",Ed Sheeran,"January 30, 2017",6.20
5,"""See You Again""[22]",Wiz Khalifa,"April 6, 2015",6.17
6,"""Wheels on the Bus""[27]",Cocomelon - Nursery Rhymes,"May 24, 2018",5.88
7,"""Phonics Song with Two Words""[28]",ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.70
8,"""Uptown Funk""[29]",Mark Ronson,"November 19, 2014",5.15
9,"""Learning Colors – Colorful Eggs on a Farm""[30]",Miroshka TV,"February 27, 2018",5.07
10,"""Gangnam Style""[31]",Psy,"July 15, 2012",5.05
11,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.58
12,"""Dame Tu Cosita""[37]",Ultra Records,"April 5, 2018",4.55
13,"""Axel F""[38]",Crazy Frog,"June 16, 2009",4.34
14,"""Sugar""[39]",Maroon 5,"January 14, 2015",4.00
15,"""Counting Stars""[40]",OneRepublic,"May 31, 2013",3.97
16,"""Baa Baa Black Sheep""[41]",Cocomelon - Nursery Rhymes,"June 25, 2018",3.96
17,"""Roar""[42]",Katy Perry,"September 5, 2013",3.96
18,"""Lakdi Ki Kathi""[43]",Jingle Toons,"June 14, 2018",3.91
19,"""Waka Waka (This Time for Africa)""[44]",Shakira,"June 4, 2010",3.85
20,"""Sorry""[45]",Justin Bieber,"October 22, 2015",3.77
21,"""Thinking Out Loud""[46]",Ed Sheeran,"October 7, 2014",3.73
22,"""Humpty the train on a fruits ride""[47]",Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.73
23,"""Shree Hanuman Chalisa""[48]",T-Series Bhakti Sagar,"May 10, 2011",3.69
24,"""Dark Horse""[49]",Katy Perry,"February 20, 2014",3.67
25,"""Perfect""[50]",Ed Sheeran,"November 9, 2017",3.67
26,"""Let Her Go""[51]",Passenger,"July 25, 2012",3.61
27,"""Faded""[52]",Alan Walker,"December 3, 2015",3.59
28,"""Girls Like You""[53]",Maroon 5,"May 31, 2018",3.56
29,"""Lean On""[54]",Major Lazer Official,"March 22, 2015",3.55

## Q2.

In [33]:
driver = webdriver.Chrome()

In [34]:
driver.get("https://www.bcci.tv/.")

In [35]:
search=driver.find_element(By.XPATH,"/html/body/header/div[3]/ul/li[1]/button")
search.click()

In [36]:
series_tags=[]
place_tags=[]
date_tags=[]
time_tags=[]

In [38]:
series_title=driver.find_elements(By.XPATH,'//div[@class="tags-wrap"]/span[1]')

for i in series_title:
    series=i.text
    series_tags.append(series)

In [39]:
len((series_tags))

6

In [40]:
place_title=driver.find_elements(By.XPATH,'//div[@class="match-place ng-scope"]/span[1]')

for i in place_title:
    place=i.text
    place_tags.append(place)

In [41]:
len((place_tags))

6

In [42]:
date_title=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[1]')

for i in date_title:
    date=i.text
    date_tags.append(date)

In [43]:
len((date_tags))

6

In [44]:
time_title=driver.find_elements(By.XPATH,'//div[@class="match-date-info"]/div[2]')

for i in time_title:
    time=i.text
    time_tags.append(time)

In [45]:
len((date_tags))

6

In [46]:
df=pd.DataFrame({"Series":series_tags,"Place":place_tags,"Date":date_tags,"Time":time_tags})

In [47]:
df

,Series,Place,Date,Time
0,5th Test,"Himachal Pradesh Cricket Association Stadium,","7 MARCH, 2024",9:30 AM IST
1,1st T20I,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
2,2nd T20I,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST
3,3rd T20I,"Harare Sports Club,","10 JULY, 2024",8:00 PM IST
4,4th T20I,"Harare Sports Club,","13 JULY, 2024",8:00 PM IST
5,5th T20I,"Harare Sports Club,","14 JULY, 2024",8:00 PM IST

## Q3.

In [86]:
driver = webdriver.Chrome()

In [87]:
driver.get("https://www.statisticstimes.com")

In [88]:
search=driver.find_element(By.XPATH,"/html/body/div[2]/div[1]/div[2]/div[2]/button")
search.click()

In [78]:
rank_tags=[]
state_tags=[]
gsdp_tags=[]
gsdp1_tags=[]
share_tags=[]
gdp_tags=[]

In [89]:
product_urls=[]
start=0
end=1

for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//div[@class="dropdown-content"]/a[3]')
    for i in url:
        product_urls.append(i.get_attribute("href"))

In [90]:
len(product_urls)

2

In [94]:
for url in product_urls:
    driver.get(url)
    time.sleep(10)

In [92]:
rank_title=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr/td[1]')

for i in rank_title:
    rank=i.text
    rank_tags.append(rank)

In [56]:
state_title=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr/td[2]')

for i in state_title:
    state=i.text
    state_tags.append(state)

In [57]:
print(len(state_tags))

66

In [58]:
gsdp_title=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr/td[3]')

for i in gsdp_title:
    gsdp=i.text
    gsdp_tags.append(gsdp)

In [59]:
print(len(gsdp_tags))

66

In [67]:
gsdp1_title=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr/td[4]')

for i in gsdp1_title:
    gsdp1=i.text
    gsdp1_tags.append(gsdp1)

In [69]:
print(len(gsdp1_tags))

66

In [62]:
share_title=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr/td[5]')

for i in share_title:
    share=i.text
    share_tags.append(share)

In [63]:
print(len(share_tags))

66

In [64]:
gdp_title=driver.find_elements(By.XPATH,'//table[@class="display dataTable"]//tbody//tr/td[6]')

for i in gdp_title:
    gdp=i.text
    gdp_tags.append(gdp)

In [65]:
print(len(gdp_tags))

66

## Q4.

In [111]:
driver = webdriver.Chrome()

In [112]:
driver.get("https://github.com")

In [135]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/main/div[1]/div[2]/div/div/div[2]/div[2]/a")
search.click()

In [196]:
Repository_title=[]
description_tags=[]
Contributors_tags=[]
Language_tags=[]

In [137]:
product_urls=[]
start=0
end=1

for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//div[@class="logged-out env-production page-responsive"]/a[3]')
    for i in url:
        product_urls.append(i.get_attribute("src"))

In [138]:
product_urls=[]
start=0
end=1

for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//div[@class="show-on-focus"]/a[2]')
    for i in url:
        product_urls.append(i.get_attribute("src"))

In [158]:
Repository_tags=driver.find_elements(By.XPATH,'//div[@class="h3 lh-condensed"]')

for i in Repository_title:
    Repository=i.text
    Repository_tags.append(Repository)

In [159]:
print(len(Repository_tags))

25

In [160]:
df=pd.DataFrame({"repository":Repository_tags})

In [161]:
df

               repository
0               Lissy93 /
1                pmndrs /
2              vvbbnn00 /
3   OpenCodeInterpreter /
4             movie-web /
5          toeverything /
6           joaomdmoura /
7           public-apis /
8           tigerbeetle /
9              taikoxyz /
10               dockur /
11            ashishps1 /
12            SciPhi-AI /
13           myshell-ai /
14          krishnaik06 /
15                 ossu /
16     polyfillpolyfill /
17            microsoft /
18            mistralai /
19             Pawdroid /
20           WongKinYiu /
21             jellyfin /
22               nvm-sh /
23           pure-admin /
24             FuelLabs /

In [179]:
Language_title=driver.find_elements(By.XPATH,'//span[@class="d-inline-block ml-0 mr-3"]')

for i in Language_title:
    Language=i.text
    Language_tags.append(Language)

In [185]:
df=pd.DataFrame({"language":Language_tags})

In [186]:
df

            language
0         TypeScript
1         TypeScript
2             Python
3             Python
4         TypeScript
5         TypeScript
6             Python
7             Python
8                Zig
9               HTML
10             Shell
11            Python
12            Python
13  Jupyter Notebook
14  Jupyter Notebook
15            Python
16                C#
17             Shell
18               Vue
19              Rust

In [180]:
description_title=driver.find_elements(By.XPATH,'//p[@class="col-9 color-fg-muted my-1 pr-4"]')

for i in description_title:
    description=i.text
    description_tags.append(description)

In [187]:
df=pd.DataFrame({"Description":description_tags})

In [188]:
df

                                          Description
0   🕵️‍♂️ All-in-one OSINT tool for analysing any ...
1             📱 user interfaces for react-three-fiber
2   该项目可以让你通过订阅的方式使用Cloudflare WARP+，自动获取流量。This p...
3   A small web app for watching movies and shows ...
4   There can be more than Notion and Miro. AFFiNE...
5   Framework for orchestrating role-playing, auto...
6                      A collective list of free APIs
7   The distributed financial transactions databas...
8   A decentralized, Ethereum-equivalent ZK-Rollup. 🥁
9                      Windows in a Docker container.
10  This repository contains System Design resourc...
11  A framework for rapid development and deployme...
12  High-quality multi-lingual text-to-speech libr...
13  🎓 Path to a free self-taught education in Comp...
14                        Automatic polyfill service.
15  18 Lessons, Get Started Building with Generati...
16  Reference implementation of Mistral AI 7B v0.1...
17  🚀 免费订阅地址，🚀 免费节点，🚀 6小时更新一次，共享节点，节点质量高可用，完全免费。免费...
18  Implementation of paper - YOLOv9: Learning Wha...
19                     The Free Software Media System
20  Node Version Manager - POSIX-compliant bash sc...
21  🔥 全面ESM+Vue3+Vite+Element-Plus+TypeScript编写的一款...
22  🌴 Empowering everyone to build reliable and ef...

In [198]:
Contributors_title=driver.find_elements(By.XPATH,'//span[@class="d-inline-block mr-3"]')

for i in Contributors_title:
    Contributors=i.text
    Contributors_tags.append(Contributors)

In [199]:
print(len(Contributors_tags))

25

## Q5.

In [73]:
driver = webdriver.Chrome()

In [74]:
driver.get("https://www.billboard.com")

In [76]:
search=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a")
search.click()

In [80]:
search_x=driver.find_element(By.XPATH,"/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a")
search_x.click()

In [88]:
song_tags=[]
artist_tags=[]
lastweek_tags =[]
PR_tags=[]               
weeksOnboard_tags=[]

In [91]:
song_title=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//li/h3')

for i in song_title:
    song=i.text
    song_tags.append(song)

In [94]:
artist_title=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]//ul/li[1]/span')
                            
for i in artist_title:
    artist=i.text
    artist_tags.append(artist)

In [96]:
lastweek_title=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[4]/span')

for i in lastweek_title:
    lastweek=i.text
    lastweek_tags.append(lastweek)

In [99]:
PR_title=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[5]/span')

for i in PR_title:
    PR=i.text
    PR_tags.append(PR)

In [104]:
weeksOnboard_title=driver.find_elements(By.XPATH,'//li[@class="lrv-u-width-100p"]/ul/li[6]/span')

for i in weeksOnboard_title:
    weeksOnboard=i.text
    weeksOnboard_tags.append(WeeksOnboard)

In [105]:
print(len(weeksOnboard_tags))

100

In [109]:
df=pd.DataFrame({"Song_Name":song_tags,"Artist_Name":artist_tags,"LAST_WEEK":lastweek_tags,"Peak_POS":PR_tags,"WKS_on_CHART":weeksOnboard_tags})

In [110]:
df

,Song_Name,Artist_Name,LAST_WEEK,Peak_POS,WKS_on_CHART
0,Texas Hold 'Em,Beyonce,2,1,2
1,Lovin On Me,Jack Harlow,1,1,2
2,Lose Control,Teddy Swims,5,2,2
3,Carnival,¥$: Kanye West & Ty Dolla $ign Featuring Rich ...,3,3,2
4,Beautiful Things,Benson Boone,4,3,2
...,...,...,...,...,...
95,Talking,¥$: Kanye West & Ty Dolla $ign Featuring North...,30,30,2
96,Monaco,Bad Bunny,97,5,2
97,Where It Ends,Bailey Zimmerman,-,32,2
98,Wondering Why,The Red Clay Strays,-,71,2
99,Northern Attitude,Noah Kahan With Hozier,75,37,2

## Q6.

In [109]:
driver = webdriver.Chrome()

In [110]:
driver.get(" https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [118]:
book_tags=[]
author_tags=[]
volume_tags=[] 
publisher_tags=[]
genre_tags=[]

In [119]:
book_title=driver.find_elements(By.XPATH,'//tbody//tr/td[1][@class="left"]')

for i in book_title:
    book=i.text
    book_tags.append(book)

In [120]:
author_title=driver.find_elements(By.XPATH,'//tbody//tr/td[2][@class="left"]')

for i in author_title:
    author=i.text
    author_tags.append(author)

In [121]:
volume_title=driver.find_elements(By.XPATH,'//tbody//tr/td[3][@class="left"]')

for i in volume_title:
    volume=i.text
    volume_tags.append(volume)

In [122]:
publisher_title=driver.find_elements(By.XPATH,'//tbody//tr/td[4][@class="left"]')

for i in publisher_title:
    publisher=i.text
    publisher_tags.append(publisher)

In [123]:
genre_title=driver.find_elements(By.XPATH,'//tbody//tr/td[5][@class="left"]')

for i in genre_title:
    genre=i.text
    genre_tags.append(genre)

In [124]:
print(len(book_tags),len(author_tags),len(volume_tags),len(publisher_tags),len(genre_tags))

100 100 100 100 100

In [127]:
df=pd.DataFrame({"Book_Name":book_tags,"Author_Name":author_tags,"Volume_sold":volume_tags,"Publisher":publisher_tags,"Genre":genre_tags})

In [128]:
df

,Book_Name,Author_Name,Volume_sold,Publisher,Genre
0,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld
1,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury
2,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury
3,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury
4,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House
...,...,...,...,...,...
95,96,"Ghost,The","Harris, Robert","807,311",Random House
96,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin
97,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.
98,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion
99,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin

## Q7.

In [193]:
driver = webdriver.Chrome()

In [194]:
driver.get("https://www.imdb.com/list/ls512407256/")

In [195]:
name_tags=[]
year_tags=[] 
genre_tags=[]
runtime_tags=[]
ratings_tags=[] 
votes_tags=[]

In [196]:
name_title=driver.find_elements(By.XPATH,'//div[@class="lister-item mode-detail"]//h3/a')

for i in name_title:
    name=i.text
    name_tags.append(name)

In [197]:
print(len(name_tags))

100

In [198]:
year_title=driver.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]')

for i in year_title:
    year=i.text
    year_tags.append(year)

In [199]:
print(len(year_tags))

100

In [200]:
genre_title=driver.find_elements(By.XPATH,'//span[@class="genre"]')

for i in genre_title:
    genre=i.text
    genre_tags.append(genre)

In [201]:
print(len(genre_tags))

100

In [202]:
runtime_title=driver.find_elements(By.XPATH,'//span[@class="runtime"]')

for i in runtime_title:
    runtime=i.text
    runtime_tags.append(book)

In [204]:
print(len(runtime_tags))

100

In [205]:
ratings_title=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]')

for i in ratings_title:
    ratings=i.text
    ratings_tags.append(ratings)

In [206]:
print(len(ratings_tags))

100

In [207]:
votes_title=driver.find_elements(By.XPATH,'//span[@name="nv"]')

for i in votes_title:
    votes=i.text
    votes_tags.append(votes)

In [208]:
print(len(votes_tags))

100

In [209]:
df=pd.DataFrame({"Name":name_tags,"Year_Span":year_tags,"Genre":genre_tags,"Runtime":runtime_tags,"Ratings":ratings_tags,"Votes":votes_tags})

In [210]:
df

,Name,Year_Span,Genre,Runtime,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",100,9.2,"2,261,826"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",100,8.7,"1,319,999"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",100,8.1,"1,071,872"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",100,7.5,"313,415"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",100,7.6,"273,324"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",100,8.9,"644,837"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",100,7.7,"162,017"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",100,7.8,"114,836"
98,The Simpsons,(1989– ),"Animation, Comedy",100,8.7,"433,008"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",100,7.6,"138,649"

## Q8.

In [33]:
driver = webdriver.Chrome()

In [34]:
driver.get("https://archive.ics.uci.edu/")

In [35]:
product_urls=[]
start=0
end=1

for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//ul[1][@class="menu menu-horizontal"]/li[1]/a[1]')
    for i in url:
        product_urls.append(i.get_attribute("href"))

In [36]:
len(product_urls)

1

In [37]:
for url in product_urls:
    driver.get(url)
    time.sleep(10)

In [38]:
dataset_tags=[]
datatype_tags=[] 
task_tags=[]
attribute_tags=[]
instances_tags=[]
attribute_no_tags=[]
year_tags=[]

In [39]:
dataset_title=driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]')

for i in dataset_title:
    dataset=i.text
    dataset_tags.append(dataset)

In [40]:
datatype_title=driver.find_elements(By.XPATH,'//div[1][@class= "my-2 hidden gap-4 md:grid grid-cols-12"]//div[2]/span')

for i in datatype_title:
    datatype=i.text
    datatype_tags.append(datatype)

In [41]:
task_title=driver.find_elements(By.XPATH,'//div[1][@class= "my-2 hidden gap-4 md:grid grid-cols-12"]//div[1]/span')

for i in task_title:
    task=i.text
    task_tags.append(task)

In [53]:
attribute_title=driver.find_elements(By.XPATH,'//tbody[@class= "border"]//tr/td[2]')

for i in attribute_title:
    attribute=i.text
    attribute_tags.append(attribute)

In [43]:
year_title=driver.find_elements(By.XPATH,'//tbody[@class= "border"]//tr/td[3]')

for i in year_title:
    year=i.text
    year_tags.append(year)

In [44]:
instances_title=driver.find_elements(By.XPATH,'//div[1][@class= "my-2 hidden gap-4 md:grid grid-cols-12"]//div[3]/span')

for i in instances_title:
    instances=i.text
    instances_tags.append(instances)

In [45]:
attribute_no_title=driver.find_elements(By.XPATH,'//div[1][@class= "my-2 hidden gap-4 md:grid grid-cols-12"]//div[4]/span')

for i in attribute_no_title:
    attribute=i.text
    attribute_no_tags.append(attribute)

In [58]:
print(len(dataset_tags),len(datatype_tags),len(task_tags),len(instances_tags),len(attribute_no_tags))

10 10 10 10 10

In [59]:
df=pd.DataFrame({"Dataset":dataset_tags,"Datatype":datatype_tags,"Task":task_tags,"instances":instances_tags,"Attributes":attribute_no_tags})

In [60]:
df

,Dataset,Datatype,Task,instances,Attributes
0,Iris,Tabular,Classification,150 Instances,4 Features
1,Dry Bean Dataset,Multivariate,Classification,13.61K Instances,16 Features
2,Heart Disease,Multivariate,Classification,303 Instances,13 Features
3,Rice (Cammeo and Osmancik),Multivariate,Classification,3.81K Instances,7 Features
4,Adult,Multivariate,Classification,48.84K Instances,14 Features
5,Raisin,Multivariate,Classification,900 Instances,8 Features
6,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,569 Instances,30 Features
7,Wine,Tabular,Classification,178 Instances,13 Features
8,Wine Quality,Multivariate,"Classification, Regression",4.9K Instances,12 Features
9,Diabetes,"Multivariate, Time-Series",Classification,1 Instances,20 Features